#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # Fingerprint
    chown system system /dev/goodix_fp

    # Gestures
    chown system system /sys/devices/platform/goodix_ts.0/edge_mode
    write /sys/devices/platform/goodix_ts.0/edge_mode 4
    chown system system /sys/devices/platform/goodix_ts.0/gesture/fod_en
    write /sys/devices/platform/goodix_ts.0/gesture/fod_en 1
    chown system system /sys/devices/platform/goodix_ts.0/gesture/single_en
    write /sys/devices/platform/goodix_ts.0/gesture/single_en 1

on property:sys.boot_completed=1
    # Camera
    copy /mnt/vendor/persist/camera/bokeh_caldata_uw_persist.bin /data/vendor/camera/bokeh_caldata_uw_persist.bin
    copy /mnt/vendor/persist/camera/ois_caldata_wide_persist.bin /data/vendor/camera/ois_caldata_wide_persist.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chown cameraserver audio /data/vendor/camera/ois_caldata_wide_persist.bin
