#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # Fingerprint
    chown system system /dev/goodix_fp

    # Gestures
    chown system system /sys/devices/platform/goodix_ts.0/edge_mode
    write /sys/devices/platform/goodix_ts.0/edge_mode 4
    chown system system /sys/devices/platform/goodix_ts.0/gesture/fod_en
    write /sys/devices/platform/goodix_ts.0/gesture/fod_en 1
    chown system system /sys/devices/platform/goodix_ts.0/gesture/single_en
    write /sys/devices/platform/goodix_ts.0/gesture/single_en 1

    # Glyphs
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/all_white_brightness
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/frame_brightness
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/operating_mode
    chown system system /sys/devices/platform/soc/994000.i2c/i2c-0/0-003a/leds/led_strips/single_brightness

on post-fs-data
    # Enable WLAN SSR
    write /sys/kernel/cnss/recovery 1

on property:sys.boot_completed=1
    start sim-restart

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 243: msm_drm
    # IRQ 240: kgsl_3d0_irq
    write /proc/irq/243/smp_affinity_list 2
    write /proc/irq/240/smp_affinity_list 1

service sim-restart /system/bin/init.sim.restart.sh
    user root
    class main
    oneshot
    disabled
