#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # Fingerprint
    chown system system /dev/goodix_fp

    # Gestures
    chown system system /sys/devices/platform/goodix_ts.0/edge_mode
    write /sys/devices/platform/goodix_ts.0/edge_mode 4
    chown system system /sys/devices/platform/goodix_ts.0/gesture/fod_en
    write /sys/devices/platform/goodix_ts.0/gesture/fod_en 1
    chown system system /sys/devices/platform/goodix_ts.0/gesture/single_en
    write /sys/devices/platform/goodix_ts.0/gesture/single_en 1

on post-fs-data
    # Enable WLAN SSR
    write /sys/kernel/cnss/recovery 1
